In [80]:
bucket = 9

In [81]:
bucket = "kishore"

In [82]:
type(bucket)

str

In [96]:
numbers = [1,1,3,2,5,6]
new_list = list(map(lambda x:x**2 ,numbers))

TypeError: 'list' object is not callable

In [84]:
tuple = (1,1,3,2,6,5)

In [85]:
tuple

(1, 1, 3, 2, 6, 5)

In [86]:
bool = True

In [87]:
bool

True

In [88]:
student = {
    "student1":{
        "name" : "Suraj_Roy",
        "age"  : 25,
        "grade": "A"
    },
    "student2":{
        "name" : "Prashant",
        "age"  : 22,
        "grade": "B",
    }
    
}

In [89]:
student["student1"]["name"]

'Suraj_Roy'

In [90]:
# Creating set using list

sett = set([1,2,1,3,5,3,4,5])

In [91]:
sett.pop()

1

In [92]:
sett

{2, 3, 4, 5}

In [93]:
sett.pop()

2

In [94]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1-set2)

{1, 2}

In [95]:
new_list = list(map(lambda x:x**2 ,numbers))

TypeError: 'list' object is not callable

In [110]:
file = open("new.txt","r")
line = file.readline() 
file.close()
file = open("new.txt","r")
content = file.read()
print(content)
print(line)
file.close()

my name is suraj
roy
my name is suraj

In [112]:
with open("new.txt","r") as file:
    line = file.readline() 
    
file = open("new.txt","r")
content = file.read()
print(content)
print(line)
file.close()

my name is suraj
roy
my name is suraj

In [114]:
import json

In [116]:
json_string = json.dumps(student)

In [118]:
print(json_string)

{"student1": {"name": "Suraj_Roy", "age": 25, "grade": "A"}, "student2": {"name": "Prashant", "age": 22, "grade": "B"}}

In [120]:
evens = [x for x in range(10) if x%2 == 0]

In [122]:
evens

[0, 2, 4, 6, 8]

In [124]:
pairs = [(x,y) for x in range(2) for y in range(3)]

In [126]:
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]