In [1]:
name = "Sahishnuta"

In [3]:
name

'Sahishnuta'

In [5]:
age = 25

In [7]:
is_student = True

In [9]:
sahishnuta = [1,2,3,4,5]

In [11]:
sahishnuta[3]

4

In [13]:
suraj = (6,7,8,9)

In [15]:
suraj[2]

8

In [17]:
sahishnuta[3]=112

In [19]:
sahishnuta

[1, 2, 3, 112, 5]

In [21]:
suraj[1]=19

TypeError: 'tuple' object does not support item assignment

In [27]:
couple = {
    "best_couple":{"sahishnuta":"suraj"},
    "worst_couple":{"Kamalika":"Kuldeep"}
}

In [31]:
couple["best_couple"]

{'sahishnuta': 'suraj'}

In [34]:
couple["worst_couple"]

{'Kamalika': 'Kuldeep'}

In [36]:
print(f"Good couple is {couple["best_couple"]} and bad is {couple["worst_couple"]}")

Good couple is {'sahishnuta': 'suraj'} and bad is {'Kamalika': 'Kuldeep'}

In [38]:
a = 10

In [40]:
s = str(a)

In [42]:
s

'10'

In [44]:
lst = list(name)

In [46]:
lst

['S', 'a', 'h', 'i', 's', 'h', 'n', 'u', 't', 'a']

In [48]:
type(lst)

list

In [50]:
multi_line_str = """My 
name
is
suraj
roy"""

In [52]:
multi_line_str

'My \nname\nis\nsuraj\nroy'

In [54]:
str = "   my name is suraj roy   "

In [56]:
str.lower()

'   my name is suraj roy   '

In [58]:
str.upper()

'   MY NAME IS SURAJ ROY   '

In [60]:
str.strip

In [62]:
str.strip()

'my name is suraj roy'

In [64]:
str.replace("suraj","sahishnuta")

'   my name is sahishnuta roy   '

In [66]:
str.split()

['my', 'name', 'is', 'suraj', 'roy']

In [70]:
str.join(list)

TypeError: can only join an iterable

In [72]:
str.find("suraj")

14

In [74]:
str.count("suraj")

1

In [78]:
str.startswith("   ")

True

In [80]:
str.isalpha()

False

In [82]:
"suraj".isalpha()

True

In [84]:
a = 5//2

In [86]:
a

2

In [88]:
a = 17//13

In [90]:
a

1

In [92]:
2**2

4

In [102]:
x = False
y = True

not x

#x and y

True

In [104]:
a = 2

In [106]:
a**=2

In [108]:
a

4

In [110]:
x is y

False

In [112]:
x is not y

True

In [114]:
name = input("Enter Your name")

Enter Your name Suraj

In [118]:
name

'Suraj'

In [124]:
num = int(input("enter a number"))

enter a number 124421

In [126]:
num

124421

In [128]:
import pandas as pd

In [134]:
data = {'Name':['Alice','Bob','Charlie'],'Score':[85,40,75]}

In [136]:
df = pd.DataFrame(data)

In [138]:
df

      Name  Score
0    Alice     85
1      Bob     40
2  Charlie     75

In [140]:
df['Result']=df['Score'].apply(lambda x:'Pass' if x>= 50 else 'Fail')

In [142]:
df

      Name  Score Result
0    Alice     85   Pass
1      Bob     40   Fail
2  Charlie     75   Pass

In [144]:
df['Character']=df['Score'].apply(lambda y:'Good' if y>50 else 'Average')

In [146]:
df

      Name  Score Result Character
0    Alice     85   Pass      Good
1      Bob     40   Fail   Average
2  Charlie     75   Pass      Good

In [154]:
point = (0,0)

match point:
    case(0,0):
        print("Origin")
    case(x, 0):
        print(f"X-Axis at {x}")
    case(0, y):
        print(f"y-Axis at {y}")
    case(x, y):
        print(f"Point at ({x},{y})")

Origin

In [2]:
numbers = [1,1,3,2,5,6]
new_list = list(map(lambda x:x**2 ,numbers))

In [4]:
new_list

[1, 1, 9, 4, 25, 36]