In [1]:
import pandas as pd

In [5]:
s = pd.Series([99 , 93, 92, 91, 99])

In [7]:
print(s)

0    99
1    93
2    92
3    91
4    99
dtype: int64

In [9]:
s = pd.Series([99 , 93, 92, 91, 99], index=["Suraj","Aman","Arikta","Asis","Sahi"])

In [11]:
print(s)

Suraj     99
Aman      93
Arikta    92
Asis      91
Sahi      99
dtype: int64

In [13]:
s["Suraj"]

99

In [15]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [17]:
df = pd.DataFrame(data)

In [19]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [21]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
df.columns

Index(['name', 'age', 'city'], dtype='object')